<%= turbo_stream_from "users" %>
<h1>Welcome!</h1>

<%= prefix_message = (current_user ? 'Thanks for joining' : 'Sign up and join')%>
<span id='users_count_message'>
  <%= render partial: 'users/user_count_message', locals: { user_count: @user_count } %>
</span>
<br/>

<% if current_user %>
  You're logged in as <%= current_user.email %>.
  <br/>
  <%= link_to "Log Out", logout_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign Up", signup_path, data: { turbo_frame: "login_signup_frame" } %> or
  <%= link_to "Log In", login_path, data: { turbo_frame: "login_signup_frame" } %>
  <%= turbo_frame_tag "login_signup_frame" %>
<% end %>
