<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <p>Thanks for joining to be one of the <%= @user_count %> users on this site</p>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <p>Be one of the <%= @user_count %> users on this site</p>
  <%= link_to "Sign Up", signup_path, data: { turbo_frame: "login_signup_frame" } %> or
  <%= link_to "Log In", login_path, data: { turbo_frame: "login_signup_frame" } %>
  <%= turbo_frame_tag "login_signup_frame" %>
<% end %>
